{% extends "base.html.twig" %}

{% block title %}{{ parent() }}User{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-12 col-md-6 align-items-center">
				<h1 class="text-center text-primary fw-bold m2">User</h1>
				{% for user in users %}
					<span class="text-primary"> 
						{{user.id}}
						{{user.email}}
						{{user.lastname}}
						{{user.firstname}}
						{{user.password}}<a href="index.php?page=updateUser&id={{user.id}}"> 
					</span>
						<i class="bi bi-pen-fill"></i>
					</a>
					<a href="index.php?page=deleteUser&id={{user.id}}">
						<i class="bi bi-trash2-fill"></i>
					</a><br/>
					{% endfor%}
				</div>
			</div>
		</div>
	{% endblock %}
